html, body {
	margin: 0;
  padding: 0;
	font-family: "Open Sans", arial, sans-serif;
	height: 100%;
	min-width: 640px;
}

a:link, a:visited {
	text-decoration: none;
	color: rgba(95, 154, 208, 1.0);
}

a:hover {
	color: rgba(224, 96, 0, 1.0);
}

input {
	font-family: "Open Sans", arial, sans-serif;
}

input[type=submit], input[type=button] {
	margin-top: 0.25em;
	margin-bottom: 0.25em;
	padding: 0.5em;
	color: rgba(255, 255, 255, 1.0);
	background-color: rgba(64, 64, 64, 1.0);
	border: none;
}

input[type=submit]:hover, input[type=button]:hover {
	background-color: rgba(128, 128, 128, 1.0);
}

select {
	font-family: "Open Sans", arial, sans-serif;
}

textarea {
	font-family: "Open Sans", arial, sans-serif;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* Heading */

.heading {
	font-family: "Voces", arial, sans-serif;
	font-size: 20px;
	color: rgba(255, 255, 255, 1.0);
	text-align: center;
	background-color: rgba(80, 80, 80, 1.0);
	padding: 4px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
	border: 1px solid rgba(32, 32, 32, 1.0);
}

.heading span {
	margin-left: 16px;
}

/* Wrapper */

div#wrapper {
	min-height: 100%;
	position: relative;
}

div#content {
	padding-bottom: 176px;
}

div#main_wrapper {
	width: 90%;
	background-color: rgba(255, 255, 255, 1.0);
	margin: -5px auto 0;
	padding: 2em 1em 0em;
}

/* Footer */

div#footer {
	width: 100%;
	height: 176px;
	position: absolute;
	background-color: rgba(64, 64, 64, 1.0);
	color: rgba(192, 192, 192, 1.0);
	bottom: 0;
}

span#footer_inner {
	width: 80%;
	display: inline-block;
	margin: 2em 0 0 3em;
	font-family: Lora;
	font-size: 12px;
}

/* Fullscreen */

div#fullscreen {
	padding: 32px;
	background-color: rgba(160, 160, 160, 160);
}

#fullscreen:-webkit-full-screen {
  width: 100%;
	height: 100%;
	background-color: rgba(160, 160, 160, 160);
}

#fullscreen:-moz-full-screen {
	background-color: rgba(160, 160, 160, 160);
}

/* Searchbox */

#searchbox {
	width: 180px;
	height: 24px;
  border: none;
  font-size: 10pt;
  color: rgba(96, 112, 128, 1.0);
	padding: 0 16px;
	margin-right: 16px;
}

#search_submit {
	margin-top: -16px;
	margin-right: 8px;
	padding: 8px 12px;
}

/* Navigaton Bar Layout */

div#navbar {
	background-color: rgba(80, 80, 80, 1.0);
	overflow: auto;
}

ul#navbar_left {
	display: inline-block;
	padding-left: 0px;
	-webkit-padding-start: 0px;
	-moz-padding-start: 0px;
}

ul#navbar_right {
	display: inline-block;
	float: right;
	margin-bottom: 0px;
}

.navbar_list {
	text-align: center;
	-webkit-padding-start: 0px;
	-moz-padding-start: 0px;
}

.navbar_list li {
	display: inline-block;
	list-style-type: none;
}

.navbar_title {
	padding: 16px 32px 16px 32px;
	color: rgba(255, 255, 255, 1.0);
	margin-right: -5px;
	background-color: rgba(128, 112, 160, 1.0);
}

.navbar_title:hover {
	color: rgba(255, 255, 160, 1.0);
}

/* Navigation Bar Buttons */

.nav_button {
	text-align: center;
	padding: 8px 10px;
}

.nav_button:hover {
	background-color: rgba(216, 216, 216, 1.0);
}

.main_nav {
	margin-left: 0px;
	margin-right: 0px;
	padding: 16px 16px;
	color: rgba(255, 255, 255, 1.0);
}

.main_nav:hover {
	color: rgba(224, 96, 0, 1.0);
}

/* Sub-nav Bar Layout */

#subnav {
	background-color: rgba(255, 255, 255, 1.0);
	padding-top: 1em;
	padding-bottom: 1em;
}

/* Sub-nav Bar Buttons */

.subnav {
	display: inline-block;
	margin-left: 1em;
	margin-right: 1em;
}

.subnav_prev {
	float: left;
	margin-top: 2px;
}

.subnav_next {
  float: right;
	margin-top: 2px;
}

.subnav_ul {
	margin: 0;
}

li#subnav_divider {
	color: rgba(216, 216, 216, 1.0);
}

/* Dropdown */

ul#subnav_list li {
	padding-right: 20px;
}

.subnav_dropdown {
	border: 1px solid rgba(160, 160, 160, 1.0);
	padding: 8px;
}

.subnav_dropdown:hover {
	background-color: rgba(216, 216, 216, 1.0);
}

.subnav_dropdown ul {
	display: none;
	margin: 8px 0 0 -9px;
	padding: 0;
	position: absolute;
	border: 1px solid rgba(160, 160, 160, 1.0);
	background-color: white;
}

.subnav_dropdown:hover ul {
	display: block;
}

.subnav_dropdown ul li {
	display: block;
	padding: 8px;
	text-align: left;
}

.subnav_dropdown ul a li:hover {
	background-color: rgba(216, 216, 216, 1.0);
}

/* Reader */

img#manga {
	box-shadow: 0 0 5px rgba(32, 32, 32, 1.0);
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 90%;
}

/* Banner */

img#banner {
	width: 100%;
	box-shadow: 0 0 5px rgba(32, 32, 32, 1.0);
}

/* Manga Tiles */

.container {
	overflow: auto;
}

.manga_tile {
	width: 320px;
	margin: 1em;
	text-align: center;
}

.manga_title {
	font-size: 18px;
	font-weight: bold;
	font-family: "Voces", arial, sans-serif;
}

.tile_cover {
	object-fit: cover;
  object-position: center;
	width: 100%;
	height: 480px;
	margin: 8px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 0 5px rgba(32, 32, 32, 1.0);
}

.date {
	font-size: 14px;
	color: rgba(96, 96, 96, 1.0);
}

/* Manga List */

#manga_list {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	border: 1px solid rgba(128, 112, 160, 1.0);
	border-collapse: collapse;
}

#manga_list th {
	text-align: left;
	color: rgba(255, 255, 255, 1.0);
	background-color: rgba(128, 112, 160, 1.0);
	font-weight: normal;
	padding-left: 0.5em;
	padding-top: 4px;
	padding-bottom: 4px;
}

#manga_list td {
	background-color: rgba(232, 216, 255, 1.0);
	padding-left: 0.5em;
	padding-top: 4px;
	padding-bottom: 4px;
}

#manga_list tr.alt td {
  background-color: rgba(216, 192, 255, 1.0);
}

th#manga_list_date, td#manga_list_date {
	text-align: right;
	padding-right: 0.5em;
}

div#back_to_top {
	margin-top: 0.5em;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 3em;
	font-size: 14px;
}

/* Manga Summary */

div#summary {
	margin: 1em auto;
	min-height: 480px;
}

div#summary img {
	float: left;
	width: 30%;
	min-width: 240px;
	min-height: 360px;
	max-width: 320px;
	max-height: 480px;
	margin-right: 3em;
	box-shadow: 0 0 5px rgba(32, 32, 32, 1.0);
}

div#summary table {
	padding: 1em;
	border-collapse: collapse;
}

div#summary th {
	padding: 0.5em 0;
	text-align: right;
	vertical-align: top;
	border-bottom: 1px solid rgba(192, 192, 192, 1.0);
}

div#summary td {
	padding: 0.5em 1em;
	border-bottom: 1px solid rgba(192, 192, 192, 1.0);
}

div#summary input#cover {
	position: absolute;
	visibility: hidden;
}

/* Admin Login */

.login {
	position: absolute;
	width: 400px;
	height: 250px;
	border: 1px solid;
	top: 50%;
	left: 50%;
  transform: translate(-50%, -50%);
}

.login h1 {
	margin: 0 0 1em 0;
	font-size: 1.2em;
	font-weight: normal;
	text-align: center;
	background-color: rgba(80, 80, 80, 1.0);
	color: rgba(255, 255, 255, 1.0);
}

.login label {
	display: inline-block;
	width: 6em;
	text-align: right;
	padding-right: 0.5em;
	line-height: 2em;
}

.login p#warning {
	font-size: 0.8em;
	text-align: center;
	background-color: rgba(255, 192, 192, 1.0);
}

.login p#submit {
	margin-left: 6.75em;
}

.admin_form label {
	display: inline-block;
	width: 9.5em;
	text-align: right;
	padding-right: 0.5em;
	line-height: 2em;
}

.admin_form .submit {
	margin-left: 12.25em;
}

input.close_chapter[type=button]  {
	position: absolute;
	font-family: "Voces", arial, sans-serif;
	font-size: 14px;
	padding: 0.25em 0.75em;
}

input.close_chapter[type=button]:hover {
	background-color: rgba(128, 128, 128, 1.0);
}

#four_oh_four {
	text-align: center;
}

#four_oh_four p {
	margin-bottom: 4em;
}

#four_oh_four img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2em;
}

#four_oh_four h1 {
	margin-top: 0;
}

.twitter-timeline {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#chapter_dropzone {
	width: 600px;
	height: 200px;
	border: 5px dashed rgba(64, 64, 64, 1.0);
	color: rgba(128, 128, 128, 1.0);
	font-size: 32px;
	line-height: 200px;
	text-align: center;
	margin: 16px auto;
}

#chapter_dropzone.dragover {
	color: rgba(128, 112, 160, 1.0);
  border-color: rgba(128, 112, 160, 1.0);
}

#chapter_submit {
	margin: 1em;
}

span.chapter_submit {
	display: block;
	width: 240px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: rgba(255, 255, 255, 1.0);
	background-color: rgba(64, 64, 64, 1.0);
	border-radius: 10px;
	padding: 1em;
	cursor: pointer;
}

span.chapter_submit:hover {
	background-color: rgba(128, 128, 128, 1.0);
}

span.chapter_upload {
	display: block;
	font-size: 18px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 1em;
}

#chapter_list {
	padding: 0;
	text-align: center;
}

#chapter_list li {
	display: inline-block;
	padding: 0;
}

div.chapter_admin_box {
	display: inline-block;
	width: 360px;
	height: 360px;
	margin: 0.5em;
	border: 3px dotted rgba(128, 128, 128, 1.0);
	border-radius: 10px;
}

img.chapter_admin_box {
	display: block;
	width: 200px;
	height: 200px;
	margin: 2.5em auto 1em;
	box-shadow: 0 0 5px rgba(32, 32, 32, 1.0);
}

/* Error Text */

div.error {
	text-align: center;
	margin: 0 0 1em 0;
	padding: 0.5em 0;
	background-color: rgba(255, 192, 192, 1.0);
	border: 1px solid rgba(255, 160, 160, 1.0);
}
