html, body {
	margin: 0;
  padding: 0;
	font-family: "Open Sans", arial, sans-serif;
	height: 100%;
}

a:link, a:visited {
	text-decoration: none;
	color: rgba(95, 154, 208, 255);
}

a:hover {
	color: rgba(224, 96, 0, 255);
}

/* Heading */

div#heading {
	font-family: "Voces", arial, sans-serif;
	font-size: 20px;
	color: rgba(255, 255, 255, 255);
	text-align: center;
	background-color: rgba(80, 80, 80, 255);
	padding: 4px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid rgba(32, 32, 32, 255);
}

span#heading {
	margin-left: 16px;
}

/* Wrapper */

div#wrapper {
	min-height: 100%;
	position: relative;
}

div#content {
	padding-bottom: 156px;
}

div#main_wrapper {
	width: 90%;
	background-color: rbga(255, 255, 255, 255);
	margin: -5px auto 0;
	padding: 2em 1em 0em;
}

/* Footer */

div#footer {
	height: 156px;
	position: absolute;
	background-color: rgba(64, 64, 64, 255);
	color: rgba(192, 192, 192, 255);
	padding: 0em 3em;
	bottom: 0;
}

span#footer_inner {
	width: 70%;
	display: inline-block;
	margin-top: 2em;
	font-family: Lora;
	font-size: 12px;
}

/* Fullscreen */

div#fullscreen {
	padding: 32px;
	background-color: rgba(160, 160, 160, 160);
}

#fullscreen:-webkit-full-screen {
  width: 100%;
	height: 100%;
	background-color: rgba(160, 160, 160, 160);
}

#fullscreen:-moz-full-screen {
	background-color: rgba(160, 160, 160, 160);
}

/* Searchbox */

#searchbox {
	width: 180px;
	height: 24px;
  border: none;
  font-size: 10pt;
  color: #63717f;
	padding: 0 16px;
	margin-right: 16px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#search_submit {
	margin-top: -16px;
	margin-right: 8px;
	border: 0;
	padding: 8px 12px;
	color: rgba(255, 255, 255, 255);
	background-color: rgba(64, 64, 64, 255);
	-webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#search_submit:hover {
	background-color: rgba(128, 128, 128, 255);
}

/* Navigaton Bar Layout */

div#navbar {
	background-color: rgba(80, 80, 80, 255);
}

ul#navbar_left {
	display: inline-block;
	-webkit-padding-start: 0px;
}

ul#navbar_right {
	display: inline-block;
	float: right;
	margin-bottom: 0px;
}

.navbar_list {
	text-align: center;
	-webkit-padding-start: 0px;
}

.navbar_list li {
	display: inline-block;
	list-style-type: none;
}

.navbar_title {
	padding: 16px 32px 16px 32px;
	color: rgba(255, 255, 255, 255);
	margin-right: -5px;
	background-color: rgba(128, 112, 160, 255);
}

/* Navigation Bar Buttons */

.nav_button {
	text-align: center;
	padding: 8px 10px;
}

.nav_button:hover {
	background-color: rgba(216, 216, 216, 255);
}

.main_nav {
	margin-left: 0px;
	margin-right: 0px;
	padding: 16px 16px;
	color: rgba(255, 255, 255, 255);
}

.main_nav:hover {
	color: rgba(224, 96, 0, 255);
}

/* Sub-nav Bar Layout */

#subnav {
	background-color: rgba(255, 255, 255, 255);
	padding-top: 1em;
	padding-bottom: 1em;
}

/* Sub-nav Bar Buttons */

.subnav {
	display: inline-block;
	margin-left: 1em;
	margin-right: 1em;
}

.subnav_prev {
	float: left;
	margin-top: 2px;
}

.subnav_next {
  float: right;
	margin-top: 2px;
}

.subnav_ul {
	-webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

li#subnav_divider {
	color: rgba(216, 216, 216, 255);
}

/* Dropdown */

ul#subnav_list li {
	padding-right: 20px;
}

.subnav_dropdown {
	border: 1px solid rgba(160, 160, 160, 255);
	padding: 8px;
}

.subnav_dropdown:hover {
	background-color: rgba(216, 216, 216, 255);
}

.subnav_dropdown ul {
	display: none;
	margin: 8px 0 0 -9px;
	padding: 0;
	position: absolute;
	border: 1px solid rgba(160, 160, 160, 255);
	background-color: white;
}

.subnav_dropdown:hover ul {
	display: block;
}

.subnav_dropdown ul li {
	display: block;
	padding: 8px;
	text-align: left;
}

.subnav_dropdown ul a li:hover {
	background-color: rgba(216, 216, 216, 255);
}

/* Reader */

img#manga {
	-moz-box-shadow: 0 0 5px rgba(32, 32, 32, 128);
	-webkit-box-shadow: 0 0 5px rgba(32, 32, 32, 128);
	box-shadow: 0 0 5px rgba(32, 32, 32, 128);
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
}

/* Banner */

img#banner {
	width: 100%;
	-moz-box-shadow: 0 0 5px rgba(32, 32, 32, 128);
	-webkit-box-shadow: 0 0 5px rgba(32, 32, 32, 128);
	box-shadow: 0 0 5px rgba(32, 32, 32, 128);
}

/* Manga Tiles */

.container {
	display: box;
	display: -webkit-box;
	box-pack:center;
	-webkit-box-pack: center;
}

.manga_tile {
	width: 25%;
	margin: 1em 2em;
	text-align: center;
}

.manga_title {
	font-size: 18px;
	font-weight: bold;
	font-family: "Voces", arial, sans-serif;
}

.tile_cover {
	object-fit: cover;
  object-position: center;
	width: 100%;
	height: 480px;
	margin: 8px;
	margin-left: auto;
	margin-right: auto;
	-moz-box-shadow: 0 0 5px rgba(32, 32, 32, 128);
	-webkit-box-shadow: 0 0 5px rgba(32, 32, 32, 128);
	box-shadow: 0 0 5px rgba(32, 32, 32, 128);
}

.date {
	font-size: 14px;
	color: rgba(96, 96, 96, 255);
}

/* Manga List */

#manga_list {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	border: 1px solid rgba(128, 112, 160, 255);
	border-collapse: collapse;
}

#manga_list th {
	text-align: left;
	border: 0;
	color: rgba(255, 255, 255, 255);
	background-color: rgba(128, 112, 160, 255);
	font-weight: normal;
	padding-left: 0.5em;
}

#manga_list td {
	padding-left: 0.5em;
	border: 0;
	background-color: rgba(232, 216, 255, 255);
}

#manga_list tr.alt td {
  background-color: rgba(216, 192, 255, 255);
}

th#manga_list_date, td#manga_list_date {
	text-align: right;
	padding-right: 0.5em;
}

div#back_to_top {
	margin-top: 0.5em;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 3em;
	font-size: 14px;
}

/* Manga Summary */

div#summary {
	margin: 2em auto;
	min-height: 480px;
}

div#summary img {
	float: left;
	height: 480px;
	margin-right: 3em;
	-moz-box-shadow: 0 0 5px rgba(32, 32, 32, 128);
	-webkit-box-shadow: 0 0 5px rgba(32, 32, 32, 128);
	box-shadow: 0 0 5px rgba(32, 32, 32, 128);
}

div#summary table {
	padding: 1em;
	border-collapse: collapse;
}

div#summary th {
	padding: 0.5em 0;
	text-align: right;
	vertical-align: top;
	border-bottom: 1px solid rgba(192, 192, 192, 255);
}

div#summary td {
	padding: 0.5em 1em;
	border-bottom: 1px solid rgba(192, 192, 192, 255);
}
