{% extends "banner_base.html" %}
{% block real_content %}

  <div id="main_wrapper">

    {% if error %}
      <div class=error><strong>Error: </strong>{{ error }}</div>
    {% endif %}

    <div class="heading"><span>Add Manga</span></div>

    <div class="admin_form">

      <form class=add_manga action={{ url_for("add_manga") }} method=post
          enctype=multipart/form-data>

        <label for="name">Manga Name: </label>
        <input type="text" name="manga_name" size=30 required><br>

        <label for="url">URL: </label>
        <input type="text" name="manga_url" size=30 required><br>

        <label for="author">Author: </label>
        <input type="text" name="manga_author" size=30 required><br>

        <label for="artist">Arist: </label>
        <input type="text" name="manga_artist" size=30 required><br>

        <label for="status">Status: </label>
        <select name="manga_status">
          <option value="in_progress">In Progress</option>
          <option value="on_hold">On Hold</option>
          <option value="complete">Completed</option>
        </select><br>

        <label for="cover">Cover: </label>
        <input type="file" name="manga_cover" accept="image/*" required><br>

        <label for="description">Description: </label>
        <textarea cols="80" rows="10" name="manga_description"
            required></textarea><br>

        <input class="submit" type="submit" value="Submit">

      </form>

      <br>
      <div class="heading"><span>Delete Manga</span></div>

      <form class=delete_manga action={{ url_for("delete_manga") }}
          method=post enctype=multipart/form-data>

        <label for="manga_delete">Manga Name: </label>
        <select name="delete_manga_name">
        {% for name in manga %}
          <option value="{{ name }}">{{ name }}</option>
        {% endfor %}
        </select>
        <br>

        <input class="submit" type="submit" value="Submit">

      </form>

      <br>
      <div class="heading"><span>Logout</span></div>
      <form action={{ url_for("logout") }}>
        <input type="submit" value="Logout">
      </form>

    </div>

    <div id="back_to_top">
      <a href="#">↑ Back to top</a>
    </div>

  </div>

{% endblock %}
