{% extends "banner_base.html" %}
{% block real_content %}

  <div id="main_wrapper">
    <div class="heading"><span>Latest Updated Manga</span></div>
    <div class="container">
      <ul id="chapter_list">
        {% for manga in manga_list %}
          <li>
            <div class="manga_tile">
              <span class="manga_title">{{ manga }}</span>
              <a href="{{ manga_urls[loop.index0] }}">
                <img class="tile_cover" src="{{ cover_urls[loop.index0] }}">
              </a>
              <a href="{{ chapter_urls[loop.index0] }}">
                {{ chapters[loop.index0] }}
              </a>
              <br>
              <span class="date">Updated: {{ date_str[loop.index0] }}</span>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>

    <hr>

    <div class="twitter">
      <a class="twitter-timeline"
          href="{{ twitter_link }}"
          data-widget-id="{{ twitter_widget_id }}"
          width="600"
          height="300">
        Tweets by @renchon_anon
      </a>
    </div>

    <div id="back_to_top">
      <a href="#">↑ Back to top</a>
    </div>

  </div>

  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

{% endblock %}
