{% extends "base.html" %}
{% block content %}

  <img id="banner" src="{{ url_for('static', filename='banner.png') }}">
  <div id="heading"><span id="heading">Latest Updated Manga</span></div>

  <div class="container">
    {% for manga in manga_list[:3] %}
      <div class="manga_tile">
        <span class="manga_title">{{ manga }}</span>
        <a href="{{ manga_urls[manga] }}">
          <img class="tile_cover" src={{ cover_urls[manga] }}></img>
        </a>
        <a href="{{ chapter_urls[manga] }}">{{ chapters[manga] }}</a>
        <br>
        <span class="date">Updated: {{ date_str[manga] }}</span>
      </div>
    {% endfor %}
  </div>

  {% if manga_list[3:6] %}
    <div class="container">
    {% for manga in manga_list[3:6] %}
      <div class="manga_tile">
        <span class="manga_title">{{ manga }}</span>
        <a href="{{ manga_urls[manga] }}">
          <img class="tile_cover" src={{ cover_urls[manga] }}></img>
        </a>
        <a href="{{ chapter_urls[manga] }}">{{ chapters[manga] }}</a>
        <br>
        <span class="date">Updated: {{ date_str[manga] }}</span>
      </div>
    {% endfor %}
    </div>
  {% endif %}

  {% if manga_list[6:] %}
    <div class="container">
    {% for manga in manga_list[6:] %}
      <div class="manga_tile">
        <span class="manga_title">{{ manga }}</span>
        <a href="{{ manga_urls[manga] }}">
          <img class="tile_cover" src={{ cover_urls[manga] }}></img>
        </a>
        <a href="{{ chapter_urls[manga] }}">{{ chapters[manga] }}</a>
        <br>
        <span class="date">Updated: {{ date_str[manga] }}</span>
      </div>
    {% endfor %}
    </div>
  {% endif %}

  <script src="{{ url_for('static', filename='index.js') }}"></script>

{% endblock %}
