{% extends "banner_base.html" %}
{% block real_content %}

  <div id="main_wrapper">
    {% block heading %}
    {% endblock %}
    <table id="manga_list">
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Artist</th>
        <th>Latest Chapter</th>
        <th id="manga_list_date">Last Updated</th>
      </tr>
      {% for manga in manga_list %}
        {% if loop.index0 % 2 == 1 %}
          <tr class="alt">
        {% else %}
          <tr>
        {% endif %}
          <td><a href="{{ manga_urls[loop.index0] }}">{{ manga }}</a></td>
          <td>{{ authors[loop.index0] }}</td>
          <td>{{ artists[loop.index0] }}</td>
          <td>
            <a href="{{ chapter_urls[loop.index0] }}">
              {{ chapters[loop.index0] }}
            </a>
          </td>
          <td id="manga_list_date">{{ date_str[loop.index0] }}</td>
        </tr>
      {% endfor %}
    </table>
    <div id="back_to_top">
      <a href="#">↑ Back to top</a>
    </div>
  </div>

{% endblock %}
