{% extends "banner_base.html" %}
{% block real_content %}

  <div id="main_wrapper">
    <div class="heading"><span>Manga</span></div>
    <div id="summary">
      <img id="cover_photo" src="{{ cover_url }}">
      <table>
        <tr>
          <th>Name: </th>
          <td class="manga_info">{{ manga }}</td>
        </tr>
        <tr>
          <th>Author: </th>
          <td class="manga_info">{{ author }}</td>
        </tr>
        <tr>
          <th>Artist: </th>
          <td class="manga_info">{{ artist }}</td>
        </tr>
        <tr>
          <th>Description: </th>
          <td class="manga_info">{{ description|safe }}</td>
        </tr>
        {% if session.logged_in %}
          <tr>
            <th>Admin: </th>
            <td id="edit_manga">
              <input id="manga_edit" type="button" onclick="edit_text()"
                  value="Edit Manga Information">
              <br>
              <input type="button" name="manga_cover"
                  value="Edit Cover Photo" onclick="edit_cover_photo()">
              <input id="cover" type="file" name="manga_cover" accept="image/*"
                  onchange="read_url(this)">
              <br>
              <input type="button" value="Submit Changes"
                  onclick="submit_manga_info()"></td>
          </tr>
        {% endif %}
      </table>
    </div>

    <div class="heading"><span>Chapter List</span></div>

    {% if session.logged_in %}
      <div class="admin_form">
        <div id="chapter_dropzone" ondrop="drop_chapter(event)"
             ondragover="allow_drop(event)">Drag and drop chapters here.</div>
        <ul id="chapter_list"></ul>
      </div>
      <div id="chapter_submit"></div>
    {% endif %}

    <table id="manga_list">
      <tr>
        <th>Chapter</th>
        {% if session.logged_in %}
          <th>Admin</th>
        {% endif %}
        <th id="manga_list_date">Date Submitted</th>
      </tr>
      {% for chapter in chapter_list %}
        {% if loop.index0 % 2 == 1 %}
          <tr class="alt">
        {% else %}
          <tr>
        {% endif %}
          <td><a href="{{ chapter_urls[loop.index0] }}">{{ chapter }}</a></td>
          {% if session.logged_in %}
            <td><a href="#"
                   onclick="delete_chapter('{{ manga }}', '{{ chapter }}')">
              Delete Chapter
            </a></td>
          {% endif %}
          <td id="manga_list_date">{{ date_str[loop.index0] }}</td>
        </tr>
      {% endfor %}
    </table>
    <div id="back_to_top">
      <a href="#">↑ Back to top</a>
    </div>
  </div>

  <script src="{{ url_for('static', filename='manga_info.js') }}"></script>

  {% if session.logged_in %}
    <script type="text/javascript">
      var manga_name = "{{ manga }}";
      var edit_manga_path = "{{ url_for('edit_manga') }}";
      var add_chapter_path = "{{ url_for('add_chapter_bulk') }}";
      var delete_chapter_path = "{{  url_for('delete_chapter') }}";
    </script>
  {% endif %}

{% endblock %}
