{% extends "base.html" %}
{% block content %}

  <img id="banner" src="{{ url_for('static', filename='banner.png') }}">

  <div id="main_wrapper">
    <div id="heading"><span id="heading">Manga</span></div>
    <div id="summary">
      <img id="cover_photo" src="{{ cover_url }}">
      <table>
        <tr>
          <th>Name: </th>
          <td class="manga_info">{{ manga }}</td>
        </tr>
        <tr>
          <th>Author: </th>
          <td class="manga_info">{{ author }}</td>
        </tr>
        <tr>
          <th>Artist: </th>
          <td class="manga_info">{{ artist }}</td>
        </tr>
        <tr>
          <th>Description: </th>
          <td class="manga_info">{{ description|safe }}</td>
        </tr>
        {% if session.logged_in %}
          <tr>
            <th>Admin: </th>
            <td>
              <form action={{ url_for("edit_manga") }} method=post
                  enctype=multipart/form-data>
                <input class="hidden_input" name="manga_oldname"
                    value="{{ manga }}"/>
                <input class="hidden_input" name="manga_name" />
                <input class="hidden_input" name="manga_author" />
                <input class="hidden_input" name="manga_artist" />
                <input class="hidden_input" name="manga_description" />
                <input id="manga_edit" type="button"
                    value="Edit Manga Information">
                <br>
                <input type="button" name="manga_cover" value="Edit Cover Photo"
                    onclick="edit_cover_photo()" />
                <input id="cover" type="file" name="manga_cover"
                    accept="image/*" />
                <br>
                <input type="submit" value="Submit Changes" />
              </form>
            </td>
          </tr>
        {% endif %}
      </table>
    </div>

    <div id="heading"><span id="heading">Chapter List</span></div>

    <table id="manga_list">
      <tr>
        <th>Chapter</th>
        {% if session.logged_in %}
          <th>Admin</th>
        {% endif %}
        <th id="manga_list_date">Date Submitted</th>
      </tr>
      {% for chapter in chapter_list %}
        {% if loop.index0 % 2 == 1 %}
          <tr class="alt">
        {% else %}
          <tr>
        {% endif %}
          <td><a href="{{ chapter_urls[loop.index0] }}">{{ chapter }}</a></td>
          {% if session.logged_in %}
            <td><a href="#"
                   onclick="delete_chapter('{{ manga }}', '{{ chapter }}')">
              Delete Chapter
            </a></td>
          {% endif %}
          <td id="manga_list_date">{{ date_str[loop.index0] }}</td>
        </tr>
      {% endfor %}
    </table>
    <div id="back_to_top">
      <a href="#">↑ Back to top</a>
    </div>
  </div>

  <script src="{{ url_for('static', filename='manga_info.js') }}"></script>

  {% if session.logged_in %}
    <script type="text/javascript">
      var delete_chapter_path = "{{  url_for("delete_chapter") }}"
      $("#cover").change(function() { read_url(this); })
      $("#manga_edit").click(edit_text);
      update_hidden_input();
    </script>
  {% endif %}

{% endblock %}
